h1 {
    color: #C0CDE9;
    font-size: 4vw;
    margin-bottom: auto;
}

h2 {
    color: #BBBBBB;
    font-size: 2vw;
    margin-top: auto;
}

h3 {
    color: #C0CDE9;
    font-size: 1.35vw;
    margin: auto;
}

p {
    color: #6D7D92;
    font-weight: bold;
    font-size: 1.6vw;
}

p2 {
    color: #BBBBBB;
    font-size: 1vw;
    margin: auto;
}

button {
    display: flex;
    justify-self: right;
    cursor: pointer;
}


