h1 {
    color: #C0CDE9;
    font-size: 60px;
    margin-bottom: auto;
}

h2 {
    color: #BBBBBB;
    font-size: 30px;
    margin-top: auto;
}

h3 {
    color: #C0CDE9;
    font-size: 25px;
    margin: auto;
}

p {
    color: #6D7D92;
    font-weight: bold;
    font-size: 30px;
}

p2 {
    color: #BBBBBB;
    font-size: 20px;
    margin: auto;
}

button {
    display: flex;
    justify-self: right;
}


